.container {
  padding: 20px;
  cursor: pointer;
  background-color: #53c28b;
  border: none;
  border-radius: 5px;
  width: max-content;
  color: white;
  font-size: larger;
  font-weight: 500;
}

.container:hover{
  padding: 20px;
  cursor: pointer;
  background-color: aqua;
  border: none;
  border-radius: 5px;
  width: max-content;
  color: black;
  font-size: larger;
  font-weight: 500;
}

